.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: white !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
padding-left: 20px !important;
color: black !important;
}

a{
    text-decoration: none !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    width: 324px;
}

.quote-text{
    width: 324px;
    display: block; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}